html,body,header,#intro{
    height: 100%;
}
#intro{
    background: url(images/black-and-white-car-classic-111.jpg) no-repeat center center fixed;
}
a{
    color: white;
}
.top-nav-collapse
{
    background-color: #24355C
}
@media(max-width:768px){
    navbar:not(.rop-nav-collapse){
        background: #24355C
    }
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }